.ipynb_checkpoints
build
dist
env
out
sc-3D

src/*.egg-info
src/sc3D/__pycache__

_*.ipynb
data/_*.h5ad
data/_*.json
data/*.png
data/_*
.DS_Store
*/.DS_Store
*/*/.DS_Store

.coverage

.vscode
src/sc3D/_tests/__pycache__
*coverage*
txt/*.aux
txt/*.bbl
txt/*.blg
txt/*.log
txt/*.synctex.gz
txt/*.docx
*.ai
test.csv
*.fdb_latexmk
*.fls